#top-account-info {
	float: right;
	margin-left: 30px;
	height: 70px;
}

#top-account-info > a {
	display: block;
	position: relative;
	padding: 15px 20px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px;
	font-weight: 400;
	color: #444;
	border-left: 1px solid #F5F5F5;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#top-account-info:hover > a { background-color: #F5F5F5; }


#top-account-info > a img {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


#top-account-info > ul {
	position: absolute;
	display: block;
	opacity: 0;
	pointer-events: none;
	right: 0;
	top: 70px;
	width: 180px;
	padding: 15px 0;
	height: auto;
	background-color: #F5F5F5;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}



#top-account-info:hover > ul {
	opacity: 1;
	pointer-events: auto;
}

#top-account-info > ul li {
	display: block;
	float: none;
	height: auto !important;
	margin: 0;
}

#top-account-info > ul li.top-account-welcome {
	font-size: 15px;
	margin-bottom: 10px;
}

#top-account-info > ul li a {
	height: auto;
	padding: 6px 20px;
	line-height: 24px;
	text-transform: none;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 500;
	color: #666;
}